In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore

In [17]:
data = pd.read_csv("Data.csv")

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38472 entries, 0 to 38471
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           38472 non-null  object
 1   Continent                        38472 non-null  object
 2   Latitude                         38472 non-null  float64
 3   Longitude                        38472 non-null  float64
 4   Average temperature per year     38472 non-null  int64
 5   Hospital beds per 1000 people    38472 non-null  float64
 6   Medical doctors per 1000 people  38472 non-null  float64
 7   GDP/Capita                       38472 non-null  float64
 8   Population                       38472 non-null  int64
 9   Median age                       38472 non-null  int64
 10  Population aged 65 and over (%)  38472 non-null  int64
 11  Date                             38472 non-null  object
 12  Daily tests                      30577 non-null  float64
 13  Cases                            38218 non-null  float64
 14  Deaths                           34862 non-null  float64
dtypes: float64(8), int64(4), object(3)
memory usage: 4.4+ MB

In [19]:
data.tail(35)

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
38437,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-01-25,2374.0,31646.0,1075.0
38438,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-01-26,3061.0,32004.0,1103.0
38439,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-01-27,3666.0,32304.0,1122.0
38440,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-01-28,4164.0,32646.0,1160.0
38441,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-01-29,4252.0,32952.0,1178.0
38442,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-01-30,1985.0,33273.0,1193.0
38443,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-01-31,1762.0,33388.0,1217.0
38444,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-01,2433.0,33548.0,1234.0
38445,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-02,4160.0,33814.0,1254.0
38446,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-03,2829.0,33964.0,1269.0
38447,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-04,3076.0,34171.0,1288.0
38448,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-05,2645.0,34331.0,1303.0
38449,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-06,2086.0,34487.0,1316.0
38450,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-07,1064.0,34552.0,1326.0
38451,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-08,2557.0,34658.0,1339.0
38452,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-09,2447.0,34781.0,1353.0
38453,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-10,3561.0,34864.0,1364.0
38454,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-11,2237.0,34864.0,1364.0
38455,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-12,2081.0,35045.0,1393.0
38456,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-13,1318.0,35104.0,1398.0
38457,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-14,2079.0,35172.0,1400.0
38458,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-15,1481.0,35222.0,1410.0
38459,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-16,3130.0,35315.0,1414.0
38460,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-17,2063.0,35423.0,1418.0
38461,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-18,3978.0,35543.0,1420.0
38462,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-19,2385.0,35710.0,1430.0
38463,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-20,1436.0,35768.0,1432.0
38464,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-21,1212.0,35796.0,1436.0
38465,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-22,1643.0,35862.0,1441.0
38466,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-23,1873.0,35910.0,1448.0
38467,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-24,1804.0,35960.0,1456.0
38468,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-25,2965.0,35994.0,1458.0
38469,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-26,NaN,36044.0,1463.0
38470,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-27,NaN,36058.0,1463.0
38471,Zimbabwe,Africa,-19.02,29.15,20,1.7,0.08,1464.0,16529904,19,3,2021-02-28,NaN,36089.0,1463.0

In [20]:
data.describe()

,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Daily tests,Cases,Deaths
count,38472.000000,38472.000000,38472.000000,38472.000000,38472.000000,38472.000000,3.847200e+04,38472.000000,38472.000000,3.057700e+04,3.821800e+04,34862.000000
mean,23.737060,20.210847,17.717145,3.165305,2.086313,19002.331415,4.896983e+07,32.751508,10.663392,3.944059e+04,2.879027e+05,8090.504733
std,26.060413,61.074922,8.134926,2.561767,1.518252,22271.107786,1.427251e+08,8.472305,6.770417,1.501847e+05,1.405243e+06,29548.753221
min,-40.900000,-106.350000,-2.000000,0.200000,0.020000,411.600000,3.412840e+05,16.000000,1.000000,-2.391720e+05,1.000000e+00,1.000000
25%,8.620000,-3.440000,11.000000,1.400000,0.820000,3659.000000,4.793900e+06,27.000000,5.000000,1.505000e+03,2.074000e+03,77.000000
50%,27.510000,21.820000,20.000000,2.500000,1.890000,8821.800000,1.148464e+07,32.000000,8.000000,5.520000e+03,2.143100e+04,527.000000
75%,45.940000,47.480000,25.000000,4.490000,3.210000,25946.200000,4.286296e+07,41.000000,16.000000,2.038200e+04,1.373770e+05,3480.500000
max,64.960000,179.410000,29.000000,13.050000,7.520000,114704.600000,1.339180e+09,48.000000,28.000000,2.945871e+06,2.860567e+07,513091.000000

In [21]:
data.index

RangeIndex(start=0, stop=38472, step=1)

In [22]:
countries_stats= data.drop_duplicates(ignore_index=True, subset=['Entity', 'Average temperature per year', 'Hospital beds per 1000 people',
       'Medical doctors per 1000 people', 'GDP/Capita', 'Population',
       'Median age', 'Population aged 65 and over (%)'])

countries_stats=countries_stats.drop(['Date', 'Daily tests','Cases', 'Deaths'],axis=1)
countries_stats=countries_stats.rename(columns={"Entity":"Country"})
countries_stats=countries_stats.set_index("Country")

In [11]:
countries_stats.head(18)

,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%)
Country,,,,,,,,,,
Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14
Algeria,Africa,28.03,1.66,25,1.90,1.83,3974.0,41318142,29,6
Argentina,South America,-38.42,-63.62,14,5.00,3.91,9912.3,44271041,31,11
Armenia,Europe,40.07,45.04,11,4.20,2.80,4622.7,2930450,35,11
Australia,Oceania,-25.27,133.78,22,3.84,3.50,55060.3,24598933,37,16
Austria,Europe,47.52,14.55,8,7.37,5.23,50137.7,8809212,44,19
Bahrain,Asia,25.93,50.64,27,2.00,0.92,23504.0,1492584,32,2
Bangladesh,Asia,23.68,90.36,25,0.80,0.47,1855.7,164669751,27,5
Belarus,Europe,53.71,27.95,8,11.00,4.07,6663.3,9507875,40,15
Belgium,Europe,50.50,4.47,10,5.64,3.01,46420.7,11372068,41,19
Bhutan,Asia,27.51,90.43,13,1.70,0.38,3316.2,807610,28,6
Bolivia,South America,-16.29,-63.59,20,1.10,0.47,3552.1,11051600,25,7
Bosnia and Herzegovina,Europe,43.92,17.68,12,3.50,1.89,6108.5,3507017,42,16
Bulgaria,Europe,42.73,25.49,13,7.45,4.00,9828.1,7075991,44,21
Canada,North America,56.13,-106.35,-1,2.50,2.54,46194.7,36708083,41,17
Cape Verde,Africa,16.00,-24.01,24,2.10,0.79,3603.8,546388,25,5
Chile,South America,-35.68,-71.54,9,2.11,1.03,14896.5,18054726,35,12
Colombia,South America,4.57,-74.30,25,1.71,1.82,6428.7,49065615,32,8

In [38]:
data_days_stats={}
for country in countries_stats.index:
    single_country=data.loc[data['Entity']==country]
    single_country=single_country[['Date','Daily tests','Cases','Deaths']]
    single_country=single_country.set_index("Date")
    data_days_stats[country]=  single_country

In [45]:
data_days_stats['Greece'].head(10)

            Daily tests  Cases  Deaths
Date
2020-02-26          NaN    1.0     NaN
2020-02-27          NaN    3.0     NaN
2020-02-28          NaN    4.0     NaN
2020-02-29          NaN    4.0     NaN
2020-03-01          NaN    7.0     NaN
2020-03-02          NaN    7.0     NaN
2020-03-03          NaN    7.0     NaN
2020-03-04          NaN    9.0     NaN
2020-03-05          NaN   31.0     NaN
2020-03-06          NaN   45.0     NaN

In [29]:
data.head()

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
0,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-25,8.0,NaN,NaN
1,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-26,5.0,NaN,NaN
2,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-27,4.0,NaN,NaN
3,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-28,1.0,NaN,NaN
4,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-02-29,8.0,NaN,NaN